body {
    background-color: #56888c !important;
    height: 100%;
}

.font-config {
    font-family: 'Ubuntu', sans-serif;
    color: whitesmoke;
}

.header {
    text-align: center;
    top: 3%;
    left: 45%;
    position: absolute;
}

table {
    width: 100%;
    text-align: center;
}

table thead {
    border-bottom: 1px solid black;
}

.modal-content {
    background-color: rgb(103, 167, 172, 0.7);
}

.form-control {
    background-color: rgba(255, 255, 255, 0.7);
}

td {
    padding: 10px;
}

th {
    padding: 10px;
}

.container {
    background-color: rgb(103, 167, 172, 0.7);
    position: absolute;
    padding: 7px;
    top: 13%;
    left: 20%;
    border-radius: 5px;
}

.container-fluid {
    padding: 5% 0;
}