body {
    background-color: #e9f0f8 !important;
}
table {
    width: 100%;
    text-align: center;
}

table thead {
    border-bottom: 1px solid black;
}

table tbody tr {
    border-bottom: 1px solid black;
}

td {
    padding: 10px;
}
th {
    padding: 10px;
}

.container {
    background-color: white;
}

.container-fluid {
    padding: 50% 0;
}